<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jarurat Care</title>
</head>
<body>
    <form action="/api/services/addservice" method="post" class="mai_for">
      <input type="text" placeholder="name" name="name" class="name" required>
      <input type="text" placeholder="description" name="description" class="desc" required>
      <input type="number" placeholder="price" name="price" class="price" required>
      <input type="submit" value="SUBMIT">
    </form>
</body>
</html>