<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/api/services/addservice">Add Service</a></button>
    <button><a href="/api/services/updateservice">Update Service</a></button>
    <button><a href="/api/services/deleteservice">Delete Service</a></button>
    <button><a href="/api/services/allservice">All Service</a></button>
</body>
</html>