<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/services/updateservice" method="post" class="mai_for">
        <input type="text"  name="name" placeholder="name" class="name">
        <input type="text" name="newname" placeholder="new name" class="new_name">
        <input type="text" name="newdescription" placeholder="new description" class="new_description">
        <input type="number" name="newprice" placeholder="new price" class="new_price">
        <input type="submit" value="SUBMIT">
      </form>
</body>
</html>